/* VARIABLES */
$dark-gray: #575756;
$light-gray: #f1f1f1;
$black: hsla(0, 0%, 0%, 1);
$primary-color: #ffdd00;
$secundary-color: #1b2b5a;
$error-color: #f14d4d;

$color-text: #292929;
$white:#FFFFFF;

// background
$bg-dark: #575756;
$bg-light: #f1f1f1;
$bg-gray-light: #63666a;

// colores
$txt-gray: hsla(0, 0%, 50%, 1);


$input-border-color: #ccc;
$input-padding: 10px;

// Estilo base para el input
$input-border-width: 2px;
$input-border-style: solid;






